<!DOCTYPE html>

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K8N7X42');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151178536-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151178536-1');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="../assets/meta-img.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Maryam TB - About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/favicon.ico?">
</head>

<style>

</style>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8N7X42" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{>header}}

    <div class="container" id="projectContainer">
        <h4 class="mb-4">About</h4>
        <p>Frontend Developer at <a href="https://www.abbasstudios.com/">Abbas Studios</a> (MERN) + Freelance. Previously: Mozilla Open Labs (LAMP), TED Conferences, F. Hoffmann-La Roche</p>
        <p>Proficient in React/Redux (<a href="https://www.udemy.com/certificate/UC-ac95bfb5-4354-4932-8163-6293313903b4">certified</a>), Vue/Vuex, Node.js, Python, Ruby on Rails, PHP, jQuery, WordPress/WooCommerce, Shopify, Java, and C++</p>
        <p>Webpack, Babel, GSAP, Three.js, Anime, D3, Adobe XD, Photoshop & Animate, Sketch, Figma, styled-components</p>
        <p>Firebase, MongoDB, Google Analytics, learning AWS</p>
        <p>JEST, Mocha</p>
        <p>September 2014 - Computer Science major for 2yrs at The University of Miami in Miami, Florida</p>
        <p>May 2019 - BSc. in Management Information Systems from The American University of Paris</p>
        <p>September 2020 - MA in Digital Management at Hyper Island Stockholm</p>
        <p>Trilingual in English, French, and Arabic</p>
        <a href="/contact"><button class="btn btn-primary btn-pill">Ask for my CV</button></a>
    </div>

    {{>footer}}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>