<!DOCTYPE html>
<title>MTB</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K8N7X42');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151178536-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151178536-1');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Maryam Touimi Benjelloun</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body class="wave">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8N7X42" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{>header}}

    <div id="index">
        <section>
            <div>
                <div>
                    <div class="container">
                        <h3 class="mb-5">Hello 👋🏼</h3>
                        <p>My name is Maryam and I'm from Casablanca. I'm a software engineer, a product-thinker, and a certified auntie.
                        <p>When !(working && learning), I'm either working out, practicing mindfulness, painting, reading, or
                            populating my Spotify playlists. </p>
                        <p>I'm currently open for freelance + front-end development roles + investment opportunities, reach out to me <a
                                href="/contact" style="color: red;">here</a>.</p>
                        <div class="logo-set">
                            <img src='react.png' alt="react-logo" height="50" width="50">
                            <img src='gsap.png' height="50" width="50">
                            {{!-- <img src='python.png' height="50" width="50"> --}}
                            <img src='html.png' height="50" width="50">
                            <img src='node.png' height="50" width="85">
                            <img src='css.svg' height="50" width="50">
                            <img src='swift.png' height="45" width="50">
                            <img src='vue.png' height="35" width="50">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    {{>footer}}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>	
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"	
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"	
        crossorigin="anonymous"></script>	

</body>

</html>