<!DOCTYPE html>

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K8N7X42');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151178536-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151178536-1');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="../assets/portfolio.png">
    <meta name="description" content="Maryam Touimi Benjelloun's Portfolio. Creative Technologist at Twitter.ï¸">
    <meta name="author" content="Maryam Touimi Benjelloun">
    <meta name="keywords" content="Freelance Developer, HTML, CSS, JavaScript, React, Vue, Fullstack">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Maryam Touimi Benjelloun</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/favicon.ico?">
</head>

<style>
    .link {
        color: blue;
    }
    .link:hover {
        text-decoration: none;
        color: orangered;
    }
</style>

<body class="wave">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8N7X42" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{!--{{>header }}--}}
    
<div class="navmenu" style="background:transparent;" id="nav">
    <div class="navbar inner" style="background:transparent;">
        <nav class="navbar fixed-top navbar-white navbar-expand-sm navbar-template navbar-light bg-white" id="brand">
            <a class="navbar-brand" href="/" id="logo">MTB.</a>
            <button id="logo-set" class="navbar-toggler navbar-dark bg-dark" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse order-3 order-sm-2" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li id="logo-items" class="nav-item"><a class="nav-link" href="/about">about</a></li>
                    <li class="nav-item"><a class="nav-link" href="/projects">projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">contact</a></li>
                     <ul class="hrefs" style="position:absolute;right:0;display:flex;list-style:none;">
                        <li class="nav-item"><a class="nav-link" target="_blank" href="https://linkedin.com/in/maryam-tb">
                                <i class="fab fa-linkedin"
                                    style="font-size:20px;color:rgb(0, 125, 228);i:hover{color:black}"
                                    aria-hidden="true"></i></a></li>
                        
                        <li class="nav-item"><a class="nav-link" target="_blank" href="https://github.com/maryamtb">
                                <i class="fab fa-github" style="font-size:20px;color:black;"aria-hidden="true"></i></a></li>
                        
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://twitter.com/mimobenjo">
                                <i class="fab fa-twitter"
                                style="font-size:20px;color:rgb(0, 125, 228);i:hover{color:black}"
                                aria-hidden="true">
                                </i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://www.awwwards.com/jury-member/maryamtb">
                            <svg width="20" height="18" viewBox="0 0 24 12" style="vertical-align: unset;"><path d="m18.4 0-2.803 10.855L12.951 0H9.34L6.693 10.855 3.892 0H0l5.012 15.812h3.425l2.708-10.228 2.709 10.228h3.425L22.29 0h-3.892ZM24.77 13.365c0 1.506 1.12 2.635 2.615 2.635C28.879 16 30 14.87 30 13.365c0-1.506-1.12-2.636-2.615-2.636s-2.615 1.13-2.615 2.636Z"></path></svg>
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>
        </nav>
    </div>
</div>

    <div>
        <section>
            <p class="title">I'm Maryam Touimi Benjelloun, creative technologist at Twitter, awwwards developer jury, & hyper island alum.</p>
        </section>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>