<!DOCTYPE html>

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K8N7X42');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151178536-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151178536-1');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Maryam TB - Projects</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="icon" href="/favicon.ico?">
</head>

<body>

    {{>header }}

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8N7X42" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container" id="projectContainer">
        <h4 class="mb-4">Laboratory</h4>
        <div class="mb-5">
            
                <div class="col-sm top-buffer">
                    <div class="card">
                        <img class="card-img" src="opw.png" alt="Open new window image cap" />
                        <div class="card-body">
                            <h5 class="card-title">WindowSwap</h5>
                            <p class="card-subtitle mb-2 text-muted">React, Vimeo API, GSAP, webpack</p>
                            <p class="card-text">Responsive Web Development, GSAP animations and transitions, PSD to React, Google Analytics.
                            <p>More than 18 million page views & 4 million concurrent users.</p>
                            <p>Featured in <a href="https://www.forbes.com/sites/lesliewu/2020/07/27/change-your-perspective-by-gazing-out-of-a-strangers-window-online/#1d9d24b7d9c4">Forbes</a>, <a href="https://www.nytimes.com/2020/07/19/dining/what-to-cook-this-week.html">The New York Times</a>, <a href="https://www.huffingtonpost.co.uk/entry/window-swap-is-the-brilliant-project-that-lets-you-see-a-strangers-view_uk_5f0eb84fc5b63b8fc110a79b">Huffpost</a>, <a href="https://www.businessinsider.com/window-swap-website-coronavirus-lockdown-2020-7">Business Insider</a>, <a href="https://edition.cnn.com/travel/article/window-swap-quarantine-trnd/index.html">CNN</a>, <a href="https://www.yahoo.com/lifestyle/new-website-lets-you-peek-through-strangers-windows-from-home-its-the-beautiful-everyday-170945438.html">Yahoo</a>, <a href="https://www.theverge.com/21327310/windowswap-windows-world-views-project-travel">The Verge</a>, <a href="https://www.fastcompany.com/90528224/tired-of-being-stuck-at-home-this-website-lets-you-peek-out-of-windows-around-the-world">Fast Company</a>, <a href="https://www.theguardian.com/artanddesign/2020/jul/15/covid-19-travel-windowswap-photos">The Guardian</a> and 20+ major news articles</p>
                            <a href="https://window-swap.com"><button type="button"
                                    class="btn btn-outline-success">Launch</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <div class="row">
                <div class="col-sm top-buffer">
                    <div class="card">
                        <img class="card-img" src="AI.png" alt="ai-food" />
                        <div class="card-body">
                            <h5 class="card-title">AI Object Detection</h5>
                            <p class="card-subtitle mb-2 text-muted">React, Clarifai AI</p>
                            <p class="card-text">Detect the ingredients in food.</p>
                            <a href="https://github.com/maryamtb/object-detect.git"><button type="button"
                                    class="btn btn-outline-primary btn-pill">Code</button></a>
                            <a href="https://object-detect.maryamtb.vercel.app/"><button type="button"
                                    class="btn btn-outline-success">Launch</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm top-buffer">
                    <div class="card">
                        <img class="card-img" src="fafa.png" alt="fafa-paris-example-store" />
                        <div class="card-body">
                            <h5 class="card-title">FAFA Paris</h5>
                            <p class="card-subtitle mb-2 text-muted">React/Redux, GSAP, Firebase, Stripe, webpack</p>
                            <p class="card-text">A fully-functional online clothing store built from scratch.</p>
                            <a href="https://clothing-store-boilerplate.herokuapp.com/"><button type="button"
                                    class="btn btn-outline-success">Launch</button></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="mb-5">
            <div class="row">
                <div class="col-sm top-buffer">
                    <div class="card">
                        <img class="card-img" src="portfolio.png" alt="Portfolio image cap" />
                        <div class="card-body">
                            <h5 class="card-title">This Website</h5>
                            <p class="card-subtitle mb-2 text-muted">Node.js, Shards UI</p>
                            <p class="card-text">Here's what I used for this website.</p>
                            <a href="https://github.com/maryamtb/Portfolio"><button type="button"
                                    class="btn btn-outline-primary btn-pill">Code</button></a>
                            <a href="https://maryamtb.herokuapp.com"><button type="button"
                                    class="btn btn-outline-success">Launch</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm top-buffer">
                    <div class="card">
                        <img class="card-img" src="three1.png" alt="react three fiber" />
                        <div class="card-body">
                            <h5 class="card-title">React Three Fiber</h5>
                            <p class="card-subtitle mb-2 text-muted">React, react-three-fiber</p>
                            <p class="card-text">3D animation series. Click, drag, scroll. </p>
                            <a href="https://github.com/maryamtb/3one"><button type="button"
                                    class="btn btn-outline-primary btn-pill">Code</button></a>
                            <a href="https://3one.vercel.app/"><button type="button"
                                    class="btn btn-outline-success">Launch</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm top-buffer">
                    <div class="card">
                        <img class="card-img" src="weather.png" alt="Weather project image cap" />
                        <div class="card-body">
                            <h5 class="card-title">Weather Forecast</h5>
                            <p class="card-subtitle mb-2 text-muted">Node.js, Dark Sky API</p>
                            <p class="card-text">A clear, daily, weather report that helps
                                you get dressed in the morning.</p>
                            <a href="https://github.com/maryamtb/weather-app_node"><button type="button"
                                    class="btn btn-outline-primary btn-pill">Code</button></a>
                            <a href="https://mtb-weather-app.herokuapp.com"><button type="button"
                                    class="btn btn-outline-success">Launch</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-5">
            <div class="row">
                <div class="col-sm top-buffer">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">NPM Module: Reverse Button</h5>
                            <p class="card-subtitle mb-2 text-muted">@mimooo/vue-reverse-str-button</p>
                            <p class="card-text">
                            <p>I created an npm module that reverses strings using a button in a Vue
                                environment. Tested with Docker container repo.
                            </p>
                            <a href="https://github.com/maryamtb/vue-reverse-str-button"><button type="button"
                                    class="btn btn-outline-primary btn-pill">Code</button></a>
                            <a href="https://www.npmjs.com/package/@mimooo/vue-reverse-str-button"><button type="button"
                                    class="btn btn-outline-success">Launch</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm top-buffer">
                    <div class="card">
                        <img class="card-img" src="coffee.png" alt="Nairobi project image cap" />
                        <div class="card-body">
                            <h5 class="card-title">Nairobi Coffee</h5>
                            <p class="card-subtitle mb-2 text-muted">JQuery, GSAP, node-sass</p>
                            <p class="card-text">My love for coffee + GSAP ScrollMagic = this mockup landing page for
                                the
                                imaginary coffee brand, Nairobi.</p>
                            <a href="https://github.com/maryamtb/coffeeBrand-mockup"><button type="button"
                                    class="btn btn-outline-primary btn-pill">Code</button></a>
                            <a href="https://objective-pike-425a58.netlify.com"><button type="button"
                                    class="btn btn-outline-success">Launch</button></a>
                        </div>
                    </div>
                </div>


                <div class="col-sm top-buffer">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Chat Application</h5>
                            <p class="card-subtitle mb-2 text-muted">React, Node.js, socket.io</p>
                            <p class="card-text">Pick a name & room, send the link over to a friend, and
                                chat
                                with them. </p>
                            <a href="https://github.com/maryamtb/chat-app"><button type="button"
                                    class="btn btn-outline-primary btn-pill">Code</button></a>
                            <a href="https://dreamy-ritchie-3c9609.netlify.com/"><button type="button"
                                    class="btn btn-outline-success">Launch</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm top-buffer">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Reading List platform</h5>
                            <p class="card-subtitle mb-2 text-muted">Express, Node.js, MongoDB</p>
                            <p class="card-text">
                            <p>A platform to manage and store your favorite articles using an MVC pattern.</p>
                            <a href="https://github.com/maryamtb/articulate"><button type="button"
                                    class="btn btn-outline-primary btn-pill">Code</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm top-buffer">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">The Music Zone</h5>
                            <p class="card-subtitle mb-2 text-muted">Spotify + Genius APIs, React, Node.js</p>
                            <p class="card-text">
                            <p>A webapp that displays the Genius lyrics of the current Spotify track being
                                played.</p>
            
                            <button type="button"
                                    class="btn btn-outline-warning btn-pill">Coming Soon</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm top-buffer">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Task Manager</h5>
                            <p class="card-subtitle mb-2 text-muted">Express, Node.js, MongoDB</p>
                            <p class="card-text">A platform to manage tasks with auth, CRUD operations, and
                                features such as uploading an avatar.</p>
                            <a href="https://github.com/maryamtb/task-manager"><button type="button"
                                    class="btn btn-outline-primary btn-pill">Code</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm top-buffer">
                <div class="card">
                    <img class="card-img" src="news-decoder.png" alt="news-decoder" />
                    <div class="card-body">
                        <h5 class="card-title">News-Decoder</h5>
                        <p class="card-subtitle mb-2 text-muted">WordPress, LearnDash, PHP</p>
                        <p class="card-text">A global educational news service based in Paris, France
                            that
                            delivers insightful news. Complete Web revamp with responsiveness.</p>
                        <a href="https://news-decoder.com/"><button type="button"
                                class="btn btn-outline-success">Launch</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm top-buffer">
                <div class="card">
                    <img class="card-img" src="tedx.png" alt="tedx" />
                    <div class="card-body">
                        <h5 class="card-title">TEDxAUP 2019</h5>
                        <p class="card-subtitle mb-2 text-muted">HTML, CSS, JS</p>
                        <p class="card-text">I created the website for the first TEDx conference with The
                            American
                            University of Paris. The theme of the conference was "So What?" in an effort to
                            propose
                            solutions to the global problems of today.</p>
                        <a href="https://www.ted.com/tedx/events/30664"><button type="button"
                                class="btn btn-outline-primary btn-pill">Event</button></a>
                        <a href="https://ac.aup.edu/~a97884/tedx.aup.edu/"><button type="button"
                                class="btn btn-outline-success">Launch</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm top-buffer">
                <div class="card">
                    <img class="card-img" src="probiotics.png" alt="probiotics" />
                    <div class="card-body">
                        <h5 class="card-title">The Probiotics House</h5>
                        <p class="card-subtitle mb-2 text-muted">WordPress, WooCommerce, PHP</p>
                        <p class="card-text">Based in Auroville, India,
                            The Probiotics House creates all-natural, non-toxic and fully bio-degradable
                            products that are infused with probiotics. </p>
                        <a href="https://probioticshouse.com/"><button type="button"
                                class="btn btn-outline-success">Launch</button></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {{>footer}}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>