<!DOCTYPE html>

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K8N7X42');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151178536-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151178536-1');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Maryam Touimi Benjelloun</title>
    <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

{{>header }}
<body id='projects'>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8N7X42" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <section>
        <div>
            <div>
                <div class="container">
                    <h3 class="mb-5" style="text-align: center;">Projects</h3>
                    <div class="row">
                        <div class="col-sm top-buffer">
                            <div class="card" style="width: 20rem;">
                                <div class="card-body">
                                    <h5 class="card-title">This Website</h5>
                                    <p class="card-subtitle mb-2 text-muted">Node.js</p>
                                    <p class="card-text">Here's what I used for this website.</p>
                                    <a href="https://github.com/maryamtb/Portfolio"><button type="button"
                                            class="btn btn-outline-primary">Source Code</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm top-buffer">
                            <div class="card" style="width: 20rem;">
                                <div class="card-body">
                                    <h5 class="card-title">The Probiotics House</h5>
                                    <p class="card-subtitle mb-2 text-muted">WordPress, WooCommerce</p>
                                    <p class="card-text">Based in Auroville, India, 
                                        The Probiotics House creates all-natural, non-toxic and fully bio-degradable
                                        products that are infused with probiotics. </p>
                                    <a href="https://probioticshouse.com/"><button type="button"
                                            class="btn btn-outline-success">Launch</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm top-buffer">
                            <div class="card" style="width: 20rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Weather Forecast</h5>
                                    <p class="card-subtitle mb-2 text-muted">Node.js</p>
                                    <p class="card-text">A clear, daily, weather report that helps
                                        you get dressed in the morning.</p>
                                    <a href="https://github.com/maryamtb/weather-app_node"><button type="button"
                                            class="btn btn-outline-primary">Source Code</button></a>
                                    <a href="https://mtb-weather-app.herokuapp.com"><button type="button"
                                            class="btn btn-outline-success">Launch</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm top-buffer">
                            <div class="card" style="width: 20rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Online Store</h5>
                                    <p class="card-subtitle mb-2 text-muted">React.js</p>
                                    <p class="card-text">
                                        <p>Coming soon.</p>
                                    {{!-- <a href="https://github.com/maryamtb/task-manager-api"><button type="button"
                                            class="btn btn-outline-primary">Source Code</button></a> --}}
                                    {{!-- <button type="button" class="btn btn-outline-success disabled" role="button"
                                        aria-disabled="true">Launch</button> --}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm top-buffer">
                            <div class="card" style="width: 20rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Task Manager</h5>
                                    <p class="card-subtitle mb-2 text-muted">Node.js/Express/MongoDB</p>
                                    <p class="card-text">Task management app.
                                        <p>Coming soon.</p>
                                    {{!-- <a href="https://github.com/maryamtb/task-manager-api"><button type="button"
                                            class="btn btn-outline-primary">Source Code</button></a> --}}
                                    {{!-- <button type="button" class="btn btn-outline-success disabled" role="button"
                                        aria-disabled="true">Launch</button> --}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm top-buffer">
                            <div class="card" style="width: 20rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Lemseffer Architects</h5>
                                    <p class="card-subtitle mb-2 text-muted">React.js</p>
                                    <p class="card-text">Portfolio for an architect based in Casablanca, Morocco.</p>
                                    <p class="card-text">Coming soon.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    <br />
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>

    {{>footer}}

</body>

</html>