<!DOCTYPE html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K8N7X42');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151178536-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-151178536-1');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Maryam Touimi Benjelloun</title>
    <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8N7X42"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {{ header }}

    <header>
        <div class="navmenu responsive">
            <nav class="navbar fixed-top navbar-white navbar-expand-sm navbar-template navbar-light bg-white">
                <a class="navbar-brand" href="/" id="logo">Maryam Touimi Benjelloun</a>
                <button class="navbar-toggler navbar-dark bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse order-3 order-sm-2" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/">intro</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">about me</a></li>
                        <li class="nav-item"><a class="nav-link" href="/webapps">digital playground</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">leave a message?</a></li>
                        <li>
                            <a href="https://www.linkedin.com/in/maryam-tb/"><button type="button" class="btn btn-outline-primary"><svg class="svg-inline--fa fa-linkedin fa-w-14" aria-hidden="true" data-prefix="fab" data-icon="linkedin" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path></svg><!-- <i class="fab fa-linkedin"></i> --></button></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/"></a></li>
                        <li>
                            <a href="https://github.com/maryamsgithub"><button type="button" class="btn btn-outline-dark"><svg class="svg-inline--fa fa-github fa-w-16" aria-hidden="true" data-prefix="fab" data-icon="github" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" data-fa-i2svg=""><path fill="currentColor" d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"></path></svg><!-- <i class="fab fa-github"></i> --></button></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <section id="bodyMessage">
        <div class="webapps">
            <div class="jumbotron jumbotron-fluid responsive" style="background-color:cornsilk;">
                <div class="container">
                    <h3 class="mb-5">Digital Playground ⛹🏽‍♀️</h3>
                    <div class="row">
                        <div class="col-sm top-buffer">
                            <div class="card" style="width: 20rem;">
                                <div class="card-body">
                                    <h5 class="card-title">The Probiotics House</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">PHP/CSS</h6>
                                    <p class="card-text">MGEcoduties is an ACU based in Auroville, India. Since 2011, the Probiotics House creates all-natural, non-toxic and fully bio-degradable products that replace certain chemicals being used in well-being products, and waste processes. <br><br>*ACU: Auroville Commercial Unit</p>
                                    <a href="https://probioticshouse.com/"><button type="button" class="btn btn-outline-warning">Launch</button></a>
                                </div>
                            </div> 
                        </div>
                        <div class="col-sm top-buffer">
                            <div class="card" style="width: 20rem;">
                                <div class="card-body">
                                    <h5 class="card-title">TEDxAUP Conference</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">HTML/CSS/JS</h6>
                                    <p class="card-text">This website was used for the 1st TEDxAUP conference &amp; the 1st TED Conference in France to be held entirely in English. The theme of the conference was "So What?" in an effort to propose solutions to the current global problems of today.<br><br>*AUP: The American University of Paris</p>
                                    <a href="https://tedx.aup.edu/"><button type="button" class="btn btn-outline-warning">Launch</button></a>
                                </div>
                            </div>
                        </div> 
                        <div class="col-sm top-buffer">
                            <div class="card" style="width: 20rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Weather Forecast</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Node.js</h6>
                                    <p class="card-text">A simple web app that provides the daily
                                        weather forecast for an entered location using a weather API and other
                                        tools. A clear, <span style="font-weight:bold">daily report</span> that helps you get dressed in the morning.</p>
                                    <a href="https://github.com/maryamsgithub/weather-app_node"><button type="button" class="btn btn-outline-primary">Source Code</button></a>
                                    <a href="https://mtb-weather-app.herokuapp.com"><button type="button" class="btn btn-outline-success">Launch</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm top-buffer">
                            <div class="card" style="width: 25rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Task Manager</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Node.js/MongoDB</h6>
                                    <p class="card-text">A task management app that allows users to log in, view,
                                        create, update, and delete tasks on their user account. They can also upload
                                        their own avatar. *Front-end under construction.*</p>
                                    <a href="https://github.com/maryamsgithub/task-manager-api"><button type="button" class="btn btn-outline-primary">Source Code</button></a>
                                    <button type="button" class="btn btn-outline-success disabled" role="button" aria-disabled="true">Launch</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm top-buffer">
                            <div class="card" style="width: 25rem;">
                                <div class="card-body">
                                    <h5 class="card-title">This Website</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">HTML/CSS/JQuery</h6>
                                    <p class="card-text">Here's what I used for this website.</p>
                                    <a href="https://github.com/maryamsgithub/Portfolio"><button type="button" class="btn btn-outline-primary">Source Code</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        
    </section>

        <footer id="sticky-footer">
            <div class="container text-center">Copyright
                © <a href="/" style="font-family: 'Dancing Script',cursive;font-size:17px;">MTB </a>2019.
            </div>
        </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>

{{ footer}}

</body>

</html>