<div class="navmenu" style="background:transparent;" id="nav">
    <div class="navbar inner" style="background:transparent;">
        <nav class="navbar fixed-top navbar-white navbar-expand-sm navbar-template navbar-light bg-white" id="brand">
            <a class="navbar-brand" href="/" id="logo">MTB.</a>
            <button id="logo-set" class="navbar-toggler navbar-dark bg-dark" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse order-3 order-sm-2" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li id="logo-items" class="nav-item"><a class="nav-link" href="/about">about</a></li>
                    <li class="nav-item"><a class="nav-link" href="/projects">projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">contact</a></li>
                     <ul class="hrefs" style="position:absolute;right:0;display:flex;list-style:none;">
                        <li class="nav-item"><a class="nav-link" target="_blank" href="https://linkedin.com/in/maryam-tb">
                                <i class="fab fa-linkedin"
                                    style="font-size:20px;color:rgb(0, 125, 228);i:hover{color:black}"
                                    aria-hidden="true"></i></a></li>
                        
                        <li class="nav-item"><a class="nav-link" target="_blank" href="https://github.com/maryamtb">
                                <i class="fab fa-github" style="font-size:20px;color:black;"aria-hidden="true"></i></a></li>
                        
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://twitter.com/mimobenjo">
                                <i class="fab fa-twitter"
                                style="font-size:20px;color:rgb(0, 125, 228);i:hover{color:black}"
                                aria-hidden="true">
                                </i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://www.awwwards.com/jury-member/maryamtb">
                            <svg width="20" height="18" viewBox="0 0 24 12" style="vertical-align: unset;"><path d="m18.4 0-2.803 10.855L12.951 0H9.34L6.693 10.855 3.892 0H0l5.012 15.812h3.425l2.708-10.228 2.709 10.228h3.425L22.29 0h-3.892ZM24.77 13.365c0 1.506 1.12 2.635 2.615 2.635C28.879 16 30 14.87 30 13.365c0-1.506-1.12-2.636-2.615-2.636s-2.615 1.13-2.615 2.636Z"></path></svg>
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>
        </nav>
    </div>
</div>