<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Maryam Touimi Benjelloun</title>
    <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous">
    </script>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
    <header>
        <div class="navmenu">
            <nav class="navbar fixed-top navbar-white navbar-expand-sm navbar-template navbar-light bg-white">
                <a class="navbar-brand" href="/" style="font-family: 'Dancing Script',cursive;font-size:27px;">Maryam
                    Touimi Benjelloun</a>
                <button class="navbar-toggler navbar-dark bg-dark" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex flex-row">
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item"><a class="nav-link px-2" href="https://twitter.com/Maryamtb17/likes"><i
                                    class="fab fa-twitter"></i></a></li>
                        <li class="nav-item"><a class="nav-link px-2" href="https://github.com/maryamsgithub"><i
                                    class="fab fa-github"></i></a></li>
                        <li class="nav-item"><a class="nav-link px-2" href="https://www.linkedin.com/in/maryam-tb/"><i
                                    class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse order-3 order-sm-2" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/">intro</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about.html">about me</a></li>
                        <li class="nav-item"><a class="nav-link" href="/webapps.html">cool web apps</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact.html">leave a message?</a></li>
                        <li class="nav-item font-weight-bold">
                            <button type="button" class="btn btn-outline-info">
                                <a href="MaryamTouimiBenjelloun_CV.pdf">Résumé</a></button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <section id="bodyMessage" style="margin-top:80px;">
            <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h4>Thank you for your email! ✅</h4>
                            <h5>I will get back to you within 48 hours.</h5>
                        </div>
                </div>
        </section>
    <footer id="sticky-footer">
            <div class="container text-center">Copyright
                © <a href="/" style="font-family: 'Dancing Script',cursive;font-size:17px;">MTB </a>2019.
            </div>
        </footer>
</body>

</html>