<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <title>Maryam Touimi Benjelloun</title>
    <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  </head>
  <body>
    
    <div class="navmenu">
        <nav class="navbar fixed-top navbar-light navbar-expand-sm navbar-template">
            <a class="navbar-brand" href="index.html">MTB</a>
            <div class="d-flex flex-row order-2 order-sm-3">
                <ul class="navbar-nav flex-row">
                    <li class="nav-item"><a class="nav-link px-2" href="https://twitter.com/Maryamtb17/likes"><i class="fab fa-twitter"></i></a></li>
                    <li class="nav-item"><a class="nav-link px-2" href="https://github.com/maryamsgithub"><i class="fab fa-github"></i></a></li>
                    <li class="nav-item"><a class="nav-link px-2" href="https://www.linkedin.com/in/maryam-tb/"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse order-3 order-sm-2" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="index.html">intro</a></li>
                    <li class="nav-item"><a class="nav-link" href="webapps.html">cool web apps</a></li>
                    <li class="nav-item"><a class="nav-link" href="iOsapps.html">cool iOS apps</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">leave a message?</a></li>
                    <li class="nav-item font-weight-bold">
                        <button type="button" class="btn btn-outline-info" href="images/Portfolio.pdf">Résumé</button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="coolintro">
        <div class="jumbotron jumbotron-fluid" style="background-color:cornsilk;">
            <br />    
            <div class="container">
                <h3 class="mb-5">Hello 👋🏼</h3>
                <p>Welcome! My name is Maryam Touimi Benjelloun  (pronounced \ˈmɑryum tweemi bɛnjulloun'\).</p>
                <p>I'm based in Paris, France & I like to make and break things.</p>
                <p>emphasis on break.</p>
                <!-- <button type="button" class="btn btn-dark btn-pill">What?</button> -->
                <br></br>
                <h6>okAy welll</h6>
                <p>Employers, freelancers, friends, welcome!</p>
                <p>I hope you enjoy my projects and feel inspired (or not).</p>
                <br />
            </div>
            <footer class="page-footer">
                    <div class="footer-copyright text-center py-3">Copyright
                            © <a href="#">MTB</a> 2019.
                    </div>
            </footer>
        </div>
    </div>    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>