<!DOCTYPE html/MIME> <html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Maryam Touimi Benjelloun</title>
    <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous">
    </script>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
    <header>
        <div class="navmenu">
            <nav class="navbar fixed-top navbar-white navbar-expand-sm navbar-template navbar-light bg-white">
                <a class="navbar-brand" href="/" style="font-family: 'Dancing Script',cursive;font-size:27px;">Maryam
                    Touimi Benjelloun</a>
                <button class="navbar-toggler navbar-dark bg-dark" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex flex-row">
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item"><a class="nav-link px-2" href="https://twitter.com/Maryamtb17/likes"><i
                                    class="fab fa-twitter"></i></a></li>
                        <li class="nav-item"><a class="nav-link px-2" href="https://github.com/maryamsgithub"><i
                                    class="fab fa-github"></i></a></li>
                        <li class="nav-item"><a class="nav-link px-2" href="https://www.linkedin.com/in/maryam-tb/"><i
                                    class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse order-3 order-sm-2" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/">intro</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">about me</a></li>
                        <li class="nav-item"><a class="nav-link active" href="webapps.html">cool web apps</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">leave a message?</a></li>
                        <li>
                            <a href="https://www.linkedin.com/in/maryam-tb/"><button type="button"
                                    class="btn btn-outline-primary"><i class="fab fa-linkedin"></i></button></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/"></a></li>
                        <li>
                            <a href="https://github.com/maryamsgithub"><button type="button"
                                    class="btn btn-outline-dark"><i class="fab fa-github"></i></button></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <section id="bodyMessage">
        <div class="webapps responsive">
            <div class="jumbotron jumbotron-fluid responsive" style="background-color:cornsilk;">
                <br />
                <div class="container">
                    <h3 class="mb-5">cool web apps 💻</h3>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="card" style="width: 18.5rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Weather Forecast</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Node.js</h6>
                                        <p class="card-text">A simple app web app that provides the daily
                                            weather forecast for an entered location using a weather API and other
                                            tools.</p>
                                        <a href="https://github.com/maryamsgithub/weather-app_node"><button
                                                type="button" class="btn btn-outline-primary">Source Code</button></a>
                                        <a href="https://mtb-weather-app.herokuapp.com"><button type="button"
                                                class="btn btn-outline-success">Launch</button></a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm responsive">
                                <div class="card" style="width: 18.5rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Task Manager</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Node.js/MongoDB</h6>
                                        <p class="card-text">A task management app that allows users to log in, view,
                                            create, update, and delete tasks on their user account. They can also upload
                                            their own avatar. *Front-end under construction.*</p>
                                        <a href="https://github.com/maryamsgithub/task-manager-api"><button
                                                type="button" class="btn btn-outline-primary">Source Code</button></a>
                                        <button type="button" class="btn btn-outline-success disabled" role="button"
                                            aria-disabled="true">Launch</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card" style="width: 18.5rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Social Chat</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Socket.io</h6>
                                        <p class="card-text">Coming very soon.</p>
                                        <button type="button" class="btn btn-outline-primary disabled" role="button"
                                            aria-disabled="true">Source Code</button>
                                        <button type="button" class="btn btn-outline-success disabled" role="button"
                                            aria-disabled="true">Launch</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="sticky-footer">
    <div class="container text-center">Copyright
        © <a href="/" style="font-family: 'Dancing Script',cursive;font-size:17px;">MTB </a>2019.
    </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="js/shards.min.js"></script>
</body>

</html>