@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.navbar {
    border-bottom: 0.5px solid black;
    border-top: 0.5px solid black;
    height: 60px;
    font-size: 15px;
}


#logo {
    font-family: 'Rubik';
    font-size: 20px;
    border-right: 0.5px solid black;
    height: 60px;
    padding-right: 20px;
    padding-top: 15px;
}

#logo:hover {
    transform: scale(1.5);
    border-right: 0.5px solid transparent;
    transition: transform .4s; 
    font-weight: 900;

}

.logo-set {
    margin-top: 70px;
}

.logo-set>img {
    justify-content: space-evenly;
    margin: 13px;
}

.title {
    bottom: 0px;
    position: absolute;
    text-transform: uppercase;
    font-weight: thin;
    line-height: 4rem;
    font-size: 35px;
    color: black;
    margin-left: 20px;
}

.name a {
    text-decoration: none;
    color: black;
}

.name:hover a {font-weight: bold; font-size:55px; color:  #ffc300; text-decoration: none;}


#work {
    text-decoration: none;
    color: black;
}

#work:hover {font-weight: bold; color: blue; font-size:50px; text-decoration: none;}


#index {
    margin-top: 100px;
    height: 100%;
    text-align: center;
}

#projects {
    margin-top: 80px;
    text-align: center;
    justify-content: center;
}

#italic {
    font-style: italic;
}

#projsubt {
    display: flex;
    align-items: flex-start;
}

#projectContainer {
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

#contact {
    margin-top: 80px;
}

#contact h3,
#sub,
btn {
    text-align: center;
}

#form {
    padding: 30px 220px 30px 220px;
}

.row {
    margin-bottom: 50px;
}

.top-buffer {
    margin-top: 40px;
}

.bottom-buffer {
    margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
    #logo {
        font-size: 23px;
    }

    .title {
        font-size: 20px;
    }

    .name:hover a {
        font-size: 25px;
    }

    #work:hover {
        font-size: 25px;
    }

    #index {
        height: 70vh;
    }

    .wave {
        height: 100%;
    }

    #bodyMessage {
        margin-top: 60px;
    }

    .logo-set {
        margin-top: 50px;
        line-height: 5.0;
    }

    .logo-set>img {
        justify-content: space-evenly;
        margin: 0px;
        transform: scale(0.85)
    }

    #contact {
        margin-top: 70px;
    }

    #contact-form {
        width: 100%;
        margin-bottom: 40px;
    }

    .row {
        margin-bottom: 0px;
    }

    #contact {
        text-align: center;
    }

    .navmenu {
        text-align: right;
    }

    .banner {
        overflow: hidden;
    }

    #form {
        padding: 0px 0px 0px 0px;
    }
}