#bodyMessage {
    margin-top: 60px;
    margin-bottom: -10px;
}

#sticky-footer {
    position: fixed 0 center;
    margin: 0 auto;
    /* padding-bottom: 20px; */
}

.top-buffer { margin-top:40px; }