@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

#logo {
    font-family: 'Rubik';
    font-size: 20px;
}

.logo-set {
    margin-top: 100px;
}

.logo-set > img {
    justify-content: space-evenly;
    margin: 13px;
}

.wave {
    background:url("../assets/wave.svg");
    background-repeat: no-repeat;
    opacity: 100%;
    background-attachment: fixed;
    background-position: bottom;
}

#index {
    margin-top: 180px;
    height:80vh;
    text-align: center;
}

#projects {
    margin-top: 80px;
    text-align: center;
    justify-content: center;
}

#projectContainer {
    margin-top: 80px;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

#contact {
    margin-top: 80px;
    text-align: center;
}

.row {
    margin-bottom: 50px;
}

.top-buffer { margin-top:40px; }

.bottom-buffer { margin-bottom:40px; }

@media only screen and (max-width: 600px) {
    #logo { font-size:23px; }
    #bodyMessage { margin-top: 60px; }
    .logo-set > img { justify-content: space-evenly; margin: 0px;transform: scale(0.5)}
    #contact { margin-top: 70px;}
    #contact-form { width: 100%; margin-bottom: 40px;}
    .row { margin-bottom: 0px;}
    #contact {text-align: center;}
    .navmenu { text-align: right;}
}